<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    {% block head %}
     <title>Document</title>
    {% endblock %} 
    {% include "template/partial/css.html" %}

</head>
<style>
    .container {
        min-height: 400px;
    }
</style>

<body>
  
            {% block container %} 

            {% endblock %}

</body>
{% include "template/partial/js.html" %}
<script>
</script>
{% block script %} 

{% endblock %}

</html>
