{% extends 'template/body.html' %} {% block content %}
<table class="layui-table" lay-skin="line" id='app'>
  <colgroup>
    <col width="150">
    <col width="200">
    <col width="200">
    <col width="200">
    <col width="200">
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>注册时间</th>
      <th>登录时间</th>
      <th>登录IP</th>
      <th>登录次数</th>
    </tr>
  </thead>
  <tbody>
    <template>
      <tr v-for="todo in user_list">
        <td v-text="todo['id']"></td>
        <td v-text="todo['username']"></td>
        <td v-text="todo['reg_time']"></td>
        <td v-text="todo['login_time']"></td>
        <td v-text="todo['login_IP']"></td>
        <td v-text="todo['total_login']"></td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
        <td rowspan="6" id="page"></td>
    </tr>
  </tfoot>
</table>
{% endblock %} {% block script %}
<script>
  layui.use(['element', 'util', 'form', 'jquery', 'laypage'], function () {
        var element = layui.element();
        var form = layui.form();
        var $ = layui.jquery;
        var layer = layui.layer;
        var laypage = layui.laypage;

        function loadPage() {

        }
        var app = new Vue({
          el: "#app",
          data: {
            user_list: [],
            total: 1,
          },
          created: function () {
            var self = this;
            self.page(1);
          },
          mounted: function () {

          },
          methods: {

            page: function (curr) {
              var self = this;
              self.$http.get('/admin/member/list', {
                p: curr
              }).then(function (resp) {
                if(resp.body.status != 200){
                  return false;
                }
                self.user_list = resp.body.result.data;
                self.total = resp.body.result.total;
              }).catch(function (resp) {
                  layer.msg('加载失败');
              });
              var pages = Math.ceil(self.total / 20);
              laypage({
                    cont: "page",
                    pages: pages > 0 ? pages : 1,
                    jump: function (obj, first) {
                      if (!first) {
                        self.page(obj.curr)
                      }
                    }
                  });
                }
              }
            });



        });
</script>
{% endblock %}