{% extends "template/body.html" %} {% block container %}
<div id='app'>
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>组名 <span v-on:click="addGroup()"><i class='layui-icon'>&#xe61f;</i>添加</span></th>
                <th>显示股票</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(todo,index) in group_list">
                <td v-text="todo['id']"></td>
                <td v-text="todo['name']"></td>
                <td><span v-on:click="Stocklist(todo['id'])"> <i class='layui-icon' >&#xe60a;</i>浏览</span>
                    <span v-on:click="addStockCode(todo['id'])"><i  class='layui-icon'>&#xe61f;</i>添加股票</span>
                    <button class="layui-btn" v-on:click="deleteStockGroup(todo['id'],index)"><i class="layui-icon">&#xe640;</i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" id="page"></td>
            </tr>
        </tfoot>
        <table class='layui-table' style='margin-top:20px' lay-skin='line' v-show="stock_list.length > 0 ? true :false">
            <thead>
                <td>股票代码</td>
                <td>股票名称</td>
                <td>操作</td>
            </thead>
            <tbody>
                <tr v-for="(cpy_id,index) in stock_list">
                    <td v-text="cpy_id"></td>
                    <td v-text="stock_info[cpy_id]  "></td>
                    <td><button class="layui-btn" v-on:click="deleteStock(cpy_id,index)"><i class="layui-icon">&#xe640;</i></button></td>
                </tr>
            </tbody>
        </table>
    </table>
    <div id='addStock' style="display:none; padding:10px;">
        <table class="layui-table" skin='line'>
            <thead>

            </thead>
            <tbody>
                <tr v-for="(val,cpy_id) in stock_info">
                    <td><input type="checkbox" v-model="select_Stock" v-bind:value="cpy_id"></td>
                    <td v-text="cpy_id"></td>
                    <td v-text="val"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %} {% block script %}
<script>
    var group_list = {
        {
            (group_list | json_encode | raw)
        }
    };
    var public = {
        {
            public |
                default ('1')
        }
    };
</script>

<script>
    layui.use(['element', 'laypage', 'jquery', 'layer'], function () {
        var element = layui.element();
        var $ = layui.jquery;
        element.init();
        var layer = layui.layer;
        var laypage = layui.laypage;
        var app = new Vue({
            el: "#app",
            data: {
                group_list: group_list,
                stock_list: [],
                stock_info: [],
                select_Group: 0,
                select_Stock: []
            },
            created: function () {
                var self = this;
                this.$http.get('/admin/stock/info').then(function (resp) {
                    self.stock_info = resp.body;
                    console.log(self.stock_info);
                }).catch(function (resp) {
                    layer.msg('初始化股票信息失败')
                });
            },
            methods: {
                deleteStockGroup: function (group_id, index) {
                    var self = this;
                    layer.confirm('是否删除此组', function (elem) {
                        self.$http.delete('/admin/stock/group/' + group_id).then(resp => {
                            layer.msg('删除成功');
                            self.group_list.splice(index, 1);
                        }).catch(resp => {
                            layer.msg('删除失败');
                        });
                    });
                },
                addGroup: function () {
                    var self = this;
                    layer.prompt(function (val, index, elem) {
                        var value = $.trim(val);
                        if (value.length == 0) {
                            return layer.msg('请输入组名');
                        }
                        self.$http.post("/admin/stock/group", {
                            name: val,
                            public: public
                        }).then(resp => {
                            if (resp.body.status == 200) {
                                layer.msg('保存成功');
                                window.location = window.location;
                            }
                        }).catch(fail => {
                            layer.msg('添加失败');
                        });
                    });
                },
                Stocklist: function (group_id) {
                    var self = this;
                    self.select_Group = group_id;
                    this.$http.get('/admin/stock/group/' + group_id).then(function (resp) {
                        if (resp.body.status !== 200) {
                            layer.msg('获取失败');
                            return false;
                        }
                        self.stock_list = resp.body.result;
                    }).catch(function (resp) {
                        layer.msg('获取失败');
                    });

                },
                addStockCode: function (group_id) {
                    var self = this;
                    this.$http.get('/admin/stock/group/' + group_id).then(function (resp) {
                        if (resp.body.status !== 200) {
                            layer.msg('获取失败');
                            return false;
                        }
                        //self.stock_list = resp.body.result;

                        self.select_Stock = resp.body.result;

                    }).catch(function (resp) {
                        layer.msg('获取失败');
                    });
                    layer.open({
                        type: 1,
                        title: "添加股票",
                        area: ['400px', '500px'],
                        content: $("#addStock"),
                        btn: ['确认'],
                        yes: function (yes, layero) {
                            self.$http.post('/admin/stock/' + group_id, {
                                stock: self.select_Stock
                            }).then(function (resp) {
                                if (resp.body.status == 200) {
                                    layer.msg('保存成功');
                                    self.Stocklist(group_id);
                                } else {
                                    layer.msg('保存失败');
                                }
                                layer.close(layero);
                            }).catch(function (fail) {
                                layer.msg('网络错误');
                            });

                        }
                    });
                },
                deleteStock: function (cpy_id, index) {
                    var self = this;
                    layer.confirm('是否删除此股票', function (elem) {
                        self.$http.delete('/admin/stock/' + self.select_Group + '/' +
                            cpy_id).then(
                            function (resp) {
                                if (resp.body.status == 200) {
                                    self.stock_list.splice(index, 1)
                                } else {
                                    layer.msg("删除失败");
                                }
                            }).catch(function (resp) {
                            layer.msg("删除失败");
                        });
                        layer.close(elem);
                    });

                }
            }
        });
    });
</script>

{% endblock %}